@use "./scss/" as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: $font-family 400 1.5;
    display: block;
    background-color: #0c0c0c;
    color: $text-color;
}

a {
    text-decoration: none;
    color: #ff7725;
    
}

a:hover {
    color: #ff7725;
}